---
AllowShortIfStatementsOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
IndentCaseLabels: true
ColumnLimit: 120
CompactNamespaces: true
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
...
